@font-face {
  font-family: 'Museo';
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  src: url("../fonts/MuseoSansCyrl-300.eot");
  src: url("../fonts/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSansCyrl-300.woff2") format("woff2"), url("../fonts/MuseoSansCyrl-300.ttf") format("truetype"); }
@font-face {
  font-family: 'Museo';
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  src: url("../fonts/MuseoSansCyrl-700.eot");
  src: url("../fonts/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSansCyrl-700.woff2") format("woff2"), url("../fonts/MuseoSansCyrl-700.ttf") format("truetype"); }
@font-face {
  font-family: 'Museo';
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  src: url("../fonts/MuseoSansCyrl-500.eot");
  src: url("../fonts/MuseoSansCyrl-500.woff") format("woff"), url("../fonts/MuseoSansCyrl-500.woff2") format("woff2"), url("../fonts/MuseoSansCyrl-500.ttf") format("truetype"); }
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Museo; }

.btn {
  border-radius: 5px;
  background-color: #c70101;
  border: none; }

.container {
  margin: 0 auto;
  max-width: 950px; }

.title {
  color: #0d0d0d;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase; }

.main {
  background: url("../img/main-bg.jpg") center center/cover no-repeat;
  height: 650px; }
  .main .header {
    display: flex;
    justify-content: space-between;
    padding-top: 24px; }
  .main .official {
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    text-align: center; }
  .main span {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    text-align: center; }
  .main .phone {
    display: flex;
    flex-direction: column;
    align-items: flex-end; }
    .main .phone a {
      display: block;
      color: #ffffff;
      font-size: 18px;
      font-weight: 700;
      text-align: right;
      text-decoration: none; }
    .main .phone .btn {
      display: block;
      padding-top: 0;
      margin: 8px 0;
      width: 150px;
      height: 30px;
      color: #ffffff;
      font-size: 12px;
      font-weight: 500;
      text-align: center;
      text-transform: uppercase; }
      .main .phone .btn:hover {
        color: #ffffff;
        text-decoration: none; }
  .main .title {
    color: #ffffff;
    margin-top: 91px;
    font-size: 42px;
    font-weight: 700;
    text-align: right;
    text-transform: uppercase; }
  .main .subtitle {
    color: #ffffff;
    margin-top: 17px;
    font-size: 24px;
    font-weight: 500;
    text-align: right;
    text-transform: uppercase; }
  .main .main-wrapper {
    margin-top: 66px;
    display: flex;
    margin-left: 450px;
    width: 424px;
    height: 100px;
    justify-content: space-between; }
    .main .main-wrapper-item {
      width: 106px; }
      .main .main-wrapper-item-logo img {
        margin: 0 32px; }
      .main .main-wrapper-item-descr {
        color: #ffffff;
        margin-top: 20px;
        font-size: 13px;
        font-weight: 500;
        text-align: center; }
  .main .btn {
    width: 300px;
    height: 50px;
    margin-top: 67px;
    margin-left: 640px;
    color: #ffffff;
    text-transform: uppercase; }
    .main .btn-link {
      margin-top: 18px;
      color: #ffffff;
      font-size: 16px;
      font-weight: 500;
      text-align: right; }
      .main .btn-link a {
        text-decoration: underline white; }

.second {
  height: 470px;
  background: url("../img/second-bg.jpg") center center/cover no-repeat;
  padding: 70px 0 78px 0; }
  .second .title {
    color: #0d0d0d;
    font-size: 30px;
    font-weight: 700;
    text-align: center; }
  .second-wrapper {
    margin-top: 65px;
    display: flex;
    justify-content: space-between; }
    .second-wrapper-item {
      width: 247px;
      height: 231px; }
      .second-wrapper-item img {
        display: block;
        margin: 0 auto; }
      .second-wrapper-item-title {
        margin-top: 38px;
        color: #0d0d0d;
        font-size: 18px;
        font-weight: 700;
        text-align: center; }
      .second-wrapper-item-text {
        margin-top: 26px;
        color: #0d0d0d;
        font-size: 14px;
        font-weight: 300;
        text-align: center; }
        .second-wrapper-item-text span {
          color: #ff0000;
          text-decoration: underline; }

.consult {
  height: 680px;
  background: url("../img/third-bg.jpg") center center/cover no-repeat;
  padding: 100px 0 92px 0; }
  .consult .title {
    color: #ffffff;
    font-size: 36px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase; }
  .consult .subtitle {
    width: 396px;
    margin-top: 80px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    text-align: left; }
  .consult form {
    width: 300px;
    height: 255px;
    margin-top: 21px;
    font-family: Museo; }
    .consult form input {
      margin-top: 15px;
      padding-left: 20px;
      width: 300px;
      height: 50px;
      border-radius: 5px;
      background-color: #ffffff;
      font-family: Museo;
      border: none; }
    .consult form .btn {
      margin-top: 20px;
      width: 300px;
      height: 55px;
      color: #ffffff;
      font-size: 16px;
      font-weight: 500;
      text-align: center;
      text-transform: uppercase; }

.carousel {
  padding: 81px 0; }
  .carousel-inner {
    width: 750px;
    margin: 0 auto;
    position: relative; }
  .carousel .slick-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -66px;
    background-color: #fff img;
      background-color-width: 35px;
      background-color-height: 50px;
      background-color-border: none; }
  .carousel .slick-next {
    osition: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -66px;
    background-color: #fff; }

.catalog {
  padding-bottom: 100px; }
  .catalog-tabs {
    margin-top: 70px;
    list-style-type: none;
    display: flex;
    justify-content: center; }
  .catalog-tab {
    width: 220px;
    height: 50px;
    border: 2px solid #d0d0d0;
    color: #6b6b6b;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    line-height: 48px;
    transform: skewX(-25deg);
    margin: 0 5px;
    cursor: pointer;
    transition: 0.3s all; }
    .catalog-tab-content {
      display: none;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: 59px; }
      .catalog-tab-content-active {
        display: flex; }
    .catalog-tab:hover {
      box-shadow: 3px 3px 20px #c70101;
      border: none; }
    .catalog-tab div {
      transform: skewX(25deg); }
    .catalog-tab-active {
      color: #fff;
      background-color: #c70101;
      border: none; }
  .catalog-content {
    margin-top: 60px; }
  .catalog-item {
    width: 300px;
    min-height: 440px;
    padding: 20px 20px 26px 20px;
    border: 2px solid #e8e8e8;
    margin-bottom: 20px;
    overflow: hidden; }
    .catalog-item-wrapper {
      display: flex;
      width: calc(200% + 40px); }
    .catalog-item-content {
      width: 50%;
      margin-right: 20px;
      transform: translateX(-100%);
      transition: 0.5s all; }
      .catalog-item-content-active {
        transform: translateX(0%); }
    .catalog-item-list {
      width: 50%;
      margin-left: 20px;
      transform: translateX(0%);
      padding-left: 0;
      padding-right: 30px;
      margin-bottom: 0;
      list-style-type: none;
      position: relative;
      transition: 0.5s all; }
      .catalog-item-list li {
        color: #555555;
        font-size: 14px;
        font-weight: 300;
        text-align: left;
        margin-top: 20px;
        position: relative;
        padding-left: 19px; }
        .catalog-item-list li:before {
          content: '';
          position: absolute;
          width: 5px;
          height: 5px;
          background-color: #c70101;
          left: -10px;
          top: 7px; }
      .catalog-item-list a {
        display: block;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(calc(-50% - 19px));
        color: #c70101;
        font-size: 14px;
        font-weight: 500;
        text-decoration: underline;
        text-transform: uppercase; }
      .catalog-item-list-active {
        transform: translateX(-100%);
        margin-left: 0; }
    .catalog-item-img {
      max-width: 100%;
      height: 200px;
      display: block;
      margin: 0 auto; }
    .catalog-item-subtitle {
      margin-top: 20px;
      color: #0d0d0d;
      font-size: 16px;
      font-weight: 700;
      text-align: center; }
    .catalog-item-descr {
      margin-top: 16px;
      color: #0d0d0d;
      font-size: 14px;
      font-weight: 300;
      text-align: center; }
    .catalog-item-link {
      display: block;
      margin-top: 17px;
      color: #c70101;
      font-size: 14px;
      font-weight: 500;
      text-align: center;
      text-decoration: underline; }
      .catalog-item-link:hover {
        color: #c70101; }
    .catalog-item hr {
      background-color: #e8e8e8;
      margin-top: 19px;
      margin-bottom: 21px;
      border-bottom: none; }
    .catalog-item-footer {
      display: flex;
      justify-content: space-between;
      align-items: center; }
    .catalog-item-prices-old {
      color: #555555;
      font-size: 14px;
      font-weight: 300;
      text-align: left;
      text-decoration: line-through; }
    .catalog-item-prices-new {
      color: #050505;
      font-size: 20px;
      font-weight: 700;
      text-align: left; }
    .catalog-item-btn {
      width: 131px;
      height: 40px;
      border-radius: 5px;
      background-color: #c70101;
      border: none; }

.review {
  height: 950px; }
  .review-wrapper {
    display: flex;
    margin-top: 70px;
    margin-bottom: 30px;
    width: 880px; }
  .review-round-img {
    width: 169px;
    height: 169px; }
  .review-item {
    width: 660;
    height: 190px;
    padding-left: 62px; }
    .review-item-name {
      color: #0d0d0d;
      font-size: 18px;
      font-weight: 700;
      text-align: left; }
    .review-item-distance {
      color: #646464;
      font-size: 14px;
      font-weight: 300;
      text-align: left;
      margin-top: 10px; }
    .review-item-descr {
      margin-top: 19px;
      color: #0d0d0d;
      font-size: 15px;
      font-weight: 300;
      text-align: left; }

.footer {
  height: 630px;
  position: relative; }
  .footer-info {
    width: 460px;
    height: 270px;
    background-color: #c70101;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(calc(50% - 460px)); }
    .footer-info-address {
      color: #ffffff;
      font-size: 20px;
      font-weight: 500;
      text-align: center;
      margin-top: 50px; }
    .footer-info-phone {
      color: #ffffff;
      font-size: 20px;
      font-weight: 700;
      text-align: center;
      margin-top: 36px; }
    .footer-info-logo {
      margin-top: 38px;
      text-align: center; }
      .footer-info-logo img {
        margin: 0 15px; }

/*# sourceMappingURL=style.css.map */
